# Virtual environment
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
data/users_api_mock_atualizado.csv

# Local environment files
.env
.env.*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
